{% extends 'app/layouts/default.html' %}
{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Products</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <a href="{% url 'products_create' %}" class="btn btn-primary">Nouveau</a>
        </div>

        <div class="card-body">

        <div class="card-body">   
            <!-- messages for user -->
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-success alert-dismissible fade show" role= "alert">
                    <i class="fas fa-alert mr-1"></i>{{ message }}
                    <button type="button" class="close " data-dismiss="alert" aria-label="close">
                        <span arial-hidden="true">&times;</span>
                    </button>
                </div>    
                {% endfor %} 
            {% endif %}
        <!-- end messages for user -->

            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Category Name</th>
                        <th>Product Name</th>
                        <th>Unit price</th>
                        <th>Options</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product in products %}
                    <tr>
                        <td>{{ product.id }}</td>
                        <td>{{ product.category.category_name }}</td>
                        <td>{{ product.product_name }}</td>
                        <td>{{ product.unit_price }}</td>
                        <td>
                            <a href="{% url 'products_edit' product.id %}" class="btn btn-primary">Edit</a>

                            <form action="{% url 'products_delete' product.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" onclick="return confirm('Voulez vous supprimer ce produit ?')" class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
{% endblock %}